.entity-graph {
    width: 60em;
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: var(--input-toolbar-color) solid 1px;
    backdrop-filter: blur(50px) saturate(250%) brightness(110%);

    background-image:
        linear-gradient(45deg, transparent 0 50%, var(--input-toolbar-unfocused-color) 49% 51%, transparent 51% 100%),
        linear-gradient(135deg, transparent 0 50%, var(--input-toolbar-unfocused-color) 49% 51%, transparent 51% 100%);

        background-size: 30px 30px;
}

.entity-graph::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    box-shadow: inset 0 0 60px 0 var(--input-toolbar-color);
}