.fields {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}

.fields-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 35px;
}

.unadded-fields:has(.text-box) {
    max-height: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}