.horizontal-select {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.horizontal-select .horizontal-select-option {
    height: 30px;
    text-justify: center;
    text-align: center;
    padding: 0 10px;
    border:none;
    background-color: transparent;
    color: var(--input-toolbar-color);
    transition: color 0.25s;
    font-style: italic;
}

.horizontal-select .horizontal-select-option.selected {
    color: var(--selected-field-color);
    font-style: normal;
}

.horizontal-select .horizontal-select-option:not(:last-child)::after {
    font-style: normal;
    content: '/';
    margin-left: 20px;
    color: var(--input-toolbar-color);
    pointer-events: none;
}