#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --input-color: black;
  --input-toolbar-color: gray;
  --input-toolbar-unfocused-color: rgb(220, 220, 220);
  --warm-shadow-color: rgb(255, 180, 80);
  --field-color: whitesmoke;

  --page-border-padding: 20px;
  --radial-gradient-shadow: radial-gradient(ellipse 70% 90% at center, rgba(255, 180, 80, 0.18) 0%, transparent 70%);
}

.icon {
  width: 45px;
  height: 35px;
  font-size: 20px;
  background-color: var(--field-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, select {
  border: solid transparent 1px;
  outline: none;
  background-color: transparent;
  text-align: center;
  padding: 0px;
  color: var(--input-color);
  
  transition: border 0.25s;
}

input {
  border-bottom: solid var(--input-toolbar-unfocused-color) 1px;
}

.search-bar {
  width: 200px;
  text-align: center;
  text-justify: center;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 8px;
  border: solid transparent 1px;
  outline: none;
  background-color: var(--field-color);
  text-align: center;
  color: var(--input-color);
}

h1 {
  font-family: 'oi';
  font-size: 6em;
  margin-bottom: 0em;
  margin-top: -1.5em;
}