.pair-chooser {
    display: flex;
    flex-direction: row;
    justify-self: center;
    height: 30px;
    align-items: center;
    gap: 20px;

    padding: 0 20px;
    position: relative;
}

.pair-chooser:hover .delete-field-button {
    opacity: 1;
    pointer-events: auto;
}

.pair-chooser .delete-field-button {
    position: absolute;
    left: 0;
    color: var(--input-toolbar-unfocused-color);
    opacity: 0;
    pointer-events: none;
    padding: 0;

    transition: color 0.25s, opacity 0.25s;
    border: none;
}

.pair-chooser .delete-field-button:hover {
    color: var(--input-toolbar-color);
}