.multiselect {
    display: flex;
    flex-direction: column;
}

.multiselect__content {
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.multiselect__content--disabled {
    opacity: 0;
}

.multiselect__content--disabled input {
    pointer-events: none;
}