.type-editor {
    padding: 0px;

    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: center;

    background: var(--radial-gradient-shadow);
}

.type-editor .type-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.type-editor .new-field-container {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;

    position: relative;

    padding: 30px;
    padding-top: 10px;
}

.new-field-container .new-field-button, .new-field-container .new-field-button--disabled {
    height: 20px;
    width: 20px;

    line-height: 0px;
    padding: 0;

    position: absolute;
    right: 0;
}

.new-field-container .new-field-button--disabled {
    opacity: 0;
}

.new-field-container .new-field-button {
    opacity: 1;
}

.separator {
    width: 160px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: solid var(--input-toolbar-color) 1px;
}

.pair-chooser .new-field-empty {
    color: var(--input-toolbar-color);
    font-style: italic;
}

.type-editor__header input {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: var(--title-color);
    width: 200px;
}

.type-editor__header {
    padding: 20px;
}