.type-editor {
    padding: 0px;
    position: relative;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: center;

    background: var(--radial-gradient-shadow);
}

.type-editor__header input {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: var(--title-color);
    width: 200px;
}

.type-editor__header {
    padding: 20px;
}

.delete-type-button {
    position: absolute;

    top: 30px;
    left: 0px;

    text-align: center;
    font-size: 12px;

    padding: 0;
    width: 45px;
    height: 45px;

    color: var(--input-color);
    opacity: 0.8;
    transition: opacity 0.25s;
}

.delete-type-button:hover {
    color: var(--error-color);
    opacity: 1;
}