.type-editor {
    padding: 0px;

    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: center;

    background: var(--radial-gradient-shadow);
}

.type-editor__header input {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: var(--title-color);
    width: 200px;
}

.type-editor__header {
    padding: 20px;
}