.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--radial-gradient-shadow);

    max-height: 25em;
    max-width: 70em;
    padding: 20px;

    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 50px;
}

.table-actions-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-actions-bar .multiselect {
    position: absolute;
    right: 0;
}

.new-entity-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.new-entity-row button {
    height: 25px;
    width: 25px;

    line-height: 0px;
    padding: 0;
}