.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--radial-gradient-shadow);

    max-height: 22em;
    max-width: 70em;
    padding: 20px;

    overflow-x: hidden;
    overflow-y: auto;
}

.new-entity-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    margin-right: 60px;
}

.new-entity-row button {
    position: absolute;
    right: -60px;
    height: 35px;
    width: 35px;

    line-height: 0px;
    padding: 0;
    margin-right: 20px;
}

.delete-tenant {
    position: absolute;

    bottom: var(--page-border-padding);
    left: var(--page-border-padding);
}