.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--radial-gradient-shadow);

    max-height: 20em;
    padding: 20px;

    overflow-x: hidden;
    overflow-y: auto;
}