.entity-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    transition: background-color 0.25s;

    position: relative;
}

.entity-row:not(:last-child) {
    border-bottom: 1px solid var(--table-line-color);
    margin-top: -4px;
    padding-bottom: 4px;
}

.entity-row__fields {
    width: 100%;
}

.entity-row.selected {
    background-color: rgb(225, 247, 255);
}

.entity-row__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    margin-top: 10px;

    position: relative;
    padding-left: 100px;
    flex-shrink: 0;
}

.entity-row__content {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow: hidden;
  visibility: visible;
  transition: max-height 0.25s, visibility 0.25s, opacity 0.25s;
  padding-top: 4px;
}

.entity-row__content--disabled {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: max-height 0.25s, visibility 0.25s, opacity 0.25s;
}

.entity-row button {
    background-color: transparent;
    width: 23px;
    padding: 0;
    transition: rotate 0.25s;
    rotate: 90deg;
}

.entity-row__header .add-subtype-button-closed {
    color: var(--input-toolbar-color);
}

.subtype-icons-row.open .open-button.open {
    rotate: 180deg;
}

.subtype-icons-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4px;

    position: absolute;
    left: -60px;
    width: 100%;
    justify-content: flex-start;
}

.subtype-icons-row p {
    transition: opacity 0.25s;
}

.subtype-icons-row.open p {
    opacity: 0;
}

.entity-row__content .fields-list {
    border-top: 1px solid var(--table-subtype-line-color);
    margin-top: 0px;
    margin-bottom: 4px;
}

.add-new-subtype-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 20px;
}