.entity-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    transition: background-color 0.25s;
}

.entity-row__fields a {
    margin-left: 0px;
}

.entity-row__fields {
    width: 100%;
}

.entity-row.selected {
    background-color: rgb(225, 247, 255);
}

.entity-row__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    margin-top: 10px;
}