.entity-row-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px;
    height: 28px;
    width: 100%;
    gap: 20px;
}

.entity-row-main a {
    margin-left: 0px;
}

.entity-row {
    transition: background-color 0.25s;
    width: 100%;
}

.entity-row.selected {
    background-color: rgb(225, 247, 255);
}