.add-new-subtype-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 20px;

}
.add-new-subtype-bar button, .add-new-subtype-bar select{
    color: var(--input-toolbar-color);
}