.add-new-subtype-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 20px;
    opacity: 0.2;
    transition: opacity 0.25s;
    margin-top: 10px;
}
.add-new-subtype-bar button, .add-new-subtype-bar select{
    color: var(--input-toolbar-color);
}

.add-new-subtype-bar:hover {
    opacity: 1;
}