.buttons-bar {
    position: absolute;
    right: var(--page-border-padding);
    display: flex;
    flex-direction: column;
}

.buttons-bar button {
    height: 35px;
    width: 35px;

    line-height: 0px;
    padding: 0;
}