.register-only-container {
    transition: opacity 0.15s, visibility 0.15s;
    height: 100px;
}

.register-only-container.disabled {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.login-submit-button {
    position: absolute;

    bottom: 10%;
    left: 25%;
    width: 50%;
}

.login-guest-button {
    position: absolute;

    bottom: 25%;
    left: 25%;
    width: 50%;

    transition: opacity 0.25s;
    opacity: 1;
    pointer-events: all;
}

.login-guest-button.disabled {
    opacity: 0;
    pointer-events: none;
}

.login {
    padding: 20px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.error {
    color: var(--error-color);
    bottom: 70px;
    font-style: italic;
    text-align: center;
    width: 100%;
    left: 0;
    font-weight: 800;
    pointer-events: none;

    transition: opacity 0.25s;
}

.error.disabled {
    opacity: 0;
}