.register-only-container {
    transition: opacity 0.15s;
    height: 100px;
}

.register-only-container.disabled {
    opacity: 0;
    pointer-events: none;
}

.login-submit-button {
    position: absolute;

    bottom: 10%;
    left: 25%;
    width: 50%;
}

.login {
    padding: 20px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
}