.icon-picker {
    position: relative;
    display: flex;
    background-color: var(--field-color);
    padding: 4px;
    border-radius: 10px;
}

.icon-picker__content {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: var(--field-color);
    top: 30px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;

    padding: 4px;
    border-radius: 10px;

    z-index: 1001;
    transition: opacity 0.25s;

    max-height: 156px;

    overflow-y: auto;
    overflow-x: hidden;
}

.icon-picker.open .icon-picker__content {
    opacity: 1;
    pointer-events: all;
}

.icon-picker__content .icon-option {
    padding: 0;
}

.icon-picker.open .icon-picker-toggle {
    rotate: 180deg;
}

.icon-picker-toggle {
    background-color: transparent;
    padding: 0;
    width: 30px;

    transition: rotate 0.25s;
}

.icon-picker p {
    padding: 0;
    line-height: 0;
}