.element-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px;
    height: 28px;

    width: 100%;
    justify-content: space-between;
    transition: background-color 0.25s;
}

#checked {
    background-color: rgb(225, 247, 255);
}

#unchecked {
    background-color: transparent;
}